auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
*.elc
/.ido.last
/.recentf
/.savehist
/projectile-bookmarks.eld
/ac-comphist.dat
\#*
.#*
/bookmarks
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.python-environments/
/el-get/
/smex.items
