[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/gl-conf-mode"]
	path = site-lisp/gl-conf-mode
	url = https://github.com/llloret/gitolite-emacs.git
